.errorCover {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255,255,255,.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.errorTextBox {
    height: 30vh;
    min-height: 300px;
    width: 50vw;
    min-width: 500px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 20px;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.7)
}

.errorTextBox h2, .errorTextBox h4 {
    margin-bottom: 2vh;
}

.errorTextBox button {
    padding-left: 3vw;
    padding-right: 3vw;
}